[Desktop Entry]
Type=Application
Name=MagicSources Settings
X-Nemo-Application-Type=silica-qt5
NotShowIn=X-MeeGo
Hidden=true
Icon=icon-launcher-gallery
Exec=sailfish-qml gallery-extension-magic-settings
#X-Maemo-Service=com.jolla.gallery.magic
#X-Maemo-Object-Path=/com/jolla/gallery/magic/ui
#X-MaemoMethod=com.jolla.gallery.magic.ui.Open
X-DBusActivatable=true

[X-Sailjail]
Permissions=UserDirs;MediaIndexing;RemovableMedia;Audio
OrganizationName=com.jolla
ApplicationName=gallery.magic
#ExecDBus=sailjail -p gallery-extension-magic-settings.desktop -- /usr/bin/sailfish-qml gallery-extension-magic-settings -prestart
ExecDBus=/usr/bin/sailfish-qml gallery-extension-magic-settings -prestart
