[Desktop Entry]
Type=Application
Name=MagicSources Editor
X-Nemo-Application-Type=silica-qt5
NotShowIn=X-MeeGo
Hidden=true
Icon=icon-launcher-gallery
Exec=sailfish-qml gallery-extension-magic-editor
X-DBusActivatable=true

[X-Sailjail]
Permissions=UserDirs;MediaIndexing;RemovableMedia;Audio
OrganizationName=com.jolla
ApplicationName=gallery.magic
#ExecDBus=sailjail -p gallery-extension-magic-editor.desktop -- /usr/bin/sailfish-qml gallery-extension-magic-editor -prestart
ExecDBus=/usr/bin/sailfish-qml gallery-extension-magic-editor -prestart
